<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Työvuorolista</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{{ url_for('index') }}">Työvuorojärjestelmä</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kiireellisyysluokat</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('busyness_index') }}">Lista kiireellisyysluokista</a>
              <a class="dropdown-item" href="{{ url_for('busyness_form') }}">Lisää kiireellisyysluokka</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aukiolotunnit</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('hour_index') }}">Lista aukiolotunneista</a>
              <a class="dropdown-item" href="{{ url_for('hour_form') }}">Lisää aukiolotunteja</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Työntekijät</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('employee_index') }}">Lista työntekijöistä</a>
              <a class="dropdown-item" href="{{ url_for('employee_form') }}">Lisää työntekijä</a>
              <a class="dropdown-item" href="{{ url_for('employee_select') }}">Työntekijäkohtaiset työtunnit</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Työvuorot</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('missingEmployees_index') }}">Työntekijöitä tarvitsevat vuorot</a>
              <a class="dropdown-item" href="{{ url_for('employee_hourform') }}">Lisää työvuoroja</a>
              <a class="dropdown-item" href="{{ url_for('listShifts') }}">Lista työvuoroista</a>
            </div>
          </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('auth_logout') }}">Kirjaa ulos käyttäjä {{ current_user.name }}</a> 
          {% else %}
          <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      {% block body %}
      <p>
        Content.
      </p>
      {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
  </body>
</html>
