{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Nimi</th>
      <th>Henkilöstöluokka</th>
      <th>Työtunteja päivässä</th>
      <th>Työtunteja viikossa</th>
    </tr>
    {% for employee in employeeList %}
    <tr>
      <td>{{ employee.name }}</td>
      <td>{{ employee.role }}</td>
      <td>{{ employee.hoursPerDay }}</td>
      <td>{{ employee.hoursPerWeek }}</td>
      <td>
        <form method="POST" action="{{ url_for('employee_edit', employee_id=employee.id) }}">
          <input type="submit" value="Muokkaa"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('employee_delete', employee_id=employee.id) }}">
          <input type="submit" value="Poista"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>


{% endblock %}
